<div class="text-wrapper p-5">
    <div class="text-inner w-75 fs-3 intro-content">
        <div class="intro-header">
            <i class="fas fa-dog intro-icon"></i>
            <h1 class="intro-title">Üdvözöljük a DogGo világában!</h1>
        </div>
        
        <div class="intro-section">
            <div class="section-icon">
                <i class="fas fa-heart"></i>
            </div>
            <p class="intro-paragraph">
                Különböző forrásokból hallani, ismerősöktől, közösségi médiából azt, hogy egy adott helyre elvihetik kedvenceiket. Ennek ellenére mégsem tudunk sok véleményt meghallgatni, olvasni az adott helyekről. Ez az alkalmazás ennek a problémának a megoldására kínál lehetőséget.
            </p>
        </div>
        
        <div class="intro-section">
            <div class="section-icon">
                <i class="fas fa-users"></i>
            </div>
            <p class="intro-paragraph">
                Egy olyan alkalmazást készítünk, ahova az emberek leírhatják véleményüket a közelükben lévő, számukra jelentéssel bíró helyekről. Ha más ember is hallaná a pozitív tapasztalatokat az adott helyről, tudná, hogy milyen kutyás emberek járnak milyen helyekre, lehet, hogy ő is elmenne és kipróbálni a mások által megjelölt helyeket.
            </p>
        </div>
        
        <div class="intro-section">
            <div class="section-icon">
                <i class="fas fa-map-marked-alt"></i>
            </div>
            <p class="intro-paragraph">
                A másik fő célunk ezzel az alkalmazással az, hogy kutyás csoportokat, társaságokat hozzunk létre. A helyek értékelésével, leírásával az emberek kapcsolatba léphetnek egymással, motiválhatják egymást, hogy kimozduljanak otthonról kiskedvenceikkel.
            </p>
        </div>
        
        <div class="cta-section">
            <div class="cta-content">
                <i class="fas fa-paw cta-icon"></i>
                <h3 class="cta-title">Kezdjük el együtt felfedezni!</h3>
                <p class="cta-text">Csatlakozz közösségünkhöz és oszd meg tapasztalataidat!</p>
            </div>
        </div>
    </div>
</div>

@code {

}